<h1 class="text-center">Welcome Mr. @Model.Names</h1>
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3>User Detaills</h3>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Id: </strong>@Model.Id</li>
                    <li class="list-group-item"><strong>Names: </strong>@Model.Names</li>
                    <li class="list-group-item"><strong>Last Names: </strong>@Model.LastNames</li>
                    <li class="list-group-item"><strong>Email: </strong>@Model.Email</li>
                    <li class="list-group-item"><strong>BirthDate: </strong>@Model.BirthDate.ToString("yyyy-MM-dd")</li>
                    <li class="list-group-item"><strong>Adress: </strong>@Model.Adress</li>
                    <li class="list-group-item"><strong>Phone: </strong>@Model.Phone</li>
                </ul>
            </div>
        </div>
        <a asp-action="Index" asp-controller="Users" class="btn btn-primary">Back</a>
    </div>
</div>
